body {
  background-image: url("https://cdn.pixabay.com/photo/2018/04/20/09/49/sky-3335585_1280.jpg");
  background-size: cover;
}

#btn-div {
  display: flex;
  flex-direction: rows;
}

#new-quote-btn {
  border: rgb (green, 10px);
  border-width: 7px;
  border-radius: 30px;
  background-color: black;  
  width: auto;  
  color: white;
  margin-top: 20px;
  margin-left: 10px;
}

#new-quote-btn:hover {
  border: 7px solid white;
  cursor: pointer;
}

#tweet-button {
  border-radius: 50%;
  color: white;
  background-color: blue;
  margin: 20px auto;
  margin-left:10px;
  width: 50px;
  height: 50px;
}

#tweet-symbol {
  color: white;
  text-decoration: none;
}

#tweet-button:hover {
  border: 5px solid white;
  cursor: pointer;
}

#textauthorbox {
  width: 100%;
  min-height: 2em;
  margin: 20rem auto;
  max-width: 30%;
  text-align: center;
}

#text {
  font-size: 2.5rem;
}

#author {
  font-size: 1rem;
}

#new-quote-text {
 font-size: 2em;
 font-family: Verdana;
}

.link-styling {
  font-size: 1.5em;
  margin-top: 30px;
  margin-left: 20px;
}













